.*.swp
.CFUserTextEncoding
.DS_Store
.DS_Store?
.Spotlight-V100
ehthumbs.db
Thumbs.db
.viminfo
/.config/
/.Trashes/
/academia/
/Desktop/
/Documents/
/Downloads/
/Library/
/manga/
/Movies/
/Music/
/Pictures/
/Public/
/repos/
