# This is Git's per-user configuration file.
# daniel-simon-gonzalez
[user]
    name = 高明俊
    user = daniel-simon-gonzalez
    email = daniel.simon.gonzalez.descamps@gmail.com
[core]
    editor = vim
	excludesfile = /Users/akira/.gitignore_global
