/* sidebar background */
:root, #background { background: #101010; }

/* show title of unread tabs in grey */
:root.sidebar tab-item.unread .label-content { color: #555555 !important; }

/* Less visible tab dividers. 
   A black border with a very low alpha slightly darkens any color. */
tab-item-substance {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: solid 0.5px #aaaaaa25;
  border-bottom: solid 0.5px #aaaaaa25;
  border-left: solid 1px #aaaaaa25;
  background-color: #202020;
}

/* hide new tab button */
#tabbar .after-tabs { display: none !important; }
.after-tabs button { display: none !important; }

/* more compact tab height and darker colors */
.tab {
    height: 25px;
    border: #555555;
    background: #101010;
}

/* highlight current tab -- can be unset for photon theme */
.tab.active { /* background: #303030; */ }
:root .tab .highlighter::before { background: #555555; }

/* hide [x] tab close button unless hovering on tab */
.tab:not(:hover) .closebox { visibility: collapse !important; }
