#TabsToolbar { visibility: collapse !important; }
#sidebar {
    width: 100%;
    min-width: 128px !important;
    /* max-width: 256px !important; */
}
#sidebar-header {
    visibility: collapse !important;
    display: none;
}
