@media (prefers-color-scheme: dark) {
  /* sidebar background */
  :root, #background { background: #000000; }

  #tabbar {
    scrollbar-width: none;
    top: 0px;
    bottom: 0px;
    /* bottom: 0 !important; Eliminate dead space on bottom */
  }
  .newtab-button-box { display: none; }

  /* show title of unread tabs in grey */
  :root.sidebar tab-item.unread .label-content { color: #555555 !important; }
  :root.sidebar .label-content {
    line-height: 12px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    color: #cabaa9 !important;
  }

  tab-item tab-favicon { padding-left: 0px; }

  /* Less visible tab dividers. 
     A black border with a very low alpha slightly darkens any color. */
  tab-item-substance {
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 0.5px #28282875;
    border-bottom: solid 0.5px #28282875;
    border-left: solid 1px #28282895;
    background-color: #181818;
  }
  tab-item tab-item-substance:hover { }

  /* hide new tab button */
  #tabbar .after-tabs { display: none !important; }
  .after-tabs button { display: none !important; }

  /* more compact tab height and darker colors */
  .tab {
    top: 0px;
    padding: 0px;
    height: 25px;
    border: #000000;
    background: #000000;
  }

  /* highlight current tab -- can be unset for photon theme */
  /* .tab.active { background: #000000; } */
  .tab.active .background { background: #2f2d2d; }
  /* :root .tab .highlighter::before { background: #2f2d2d; } */
  tab-item.active .contextual-identity-marker { }

  /* hide collapse twisty arrow */
  /* collapse/expand subtree with favicon */
  tab-item tab-twisty {
    margin-right: -1em;
    opacity: 0 !important;
    position: relative;
    z-index: 10000;
  }
  tab-item:hover .background {
    background: #2f2d2d;
  }

  /* hide [x] tab close button unless hovering on tab */
  .tab:hover .closebox {
    background: #4a4a4a;
    border-radius: 3px;
  }
  .tab:not(:hover) .closebox { visibility: collapse !important; }

  .tab:hover {
    background: #000000;
  }

  /* remove scroll bar */
  .tab { margin-left: 1px; }
  #tabbar {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  :root.left #tabbar, #tabContextMenu, #tabContextMenu ul { margin-left: 0px; }
}


@media (prefers-color-scheme: light) {
  /* sidebar background */
  :root, #background { background: #ffffff; }

  #tabbar {
    scrollbar-width: none;
    top: 0px !important;
    bottom: 0px !important ;
    /* bottom: 0 !important; Eliminate dead space on bottom */
  }
  .newtab-button-box { display: none; }

  /* show title of unread tabs in grey */
  :root.sidebar tab-item.unread .label-content { color: #bbbbbb !important; }
  :root.sidebar .label-content {
    line-height: 12px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    color: #000000 !important;
  }

  tab-item tab-favicon { padding-left: 0px; }

  /* Less visible tab dividers. 
     A black border with a very low alpha slightly darkens any color. */
  tab-item-substance {
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: solid 0.5px #dddddd;
    border-bottom: solid 0.5px #dddddd;
    border-left: solid 1px #dddddd;
    background-color: #ffffff;
  }
  tab-item tab-item-substance:hover { }

  /* hide new tab button */
  #tabbar .after-tabs { display: none !important; }
  .after-tabs button { display: none !important; }

  /* more compact tab height and darker colors */
  .tab {
    top: 0px;
    padding: 0px;
    height: 25px;
    border: #ffffff;
    background: #ffffff;
  }

  /* highlight current tab -- can be unset for photon theme */
  /* .tab.active { background: #eeeeee; } */
  .tab.active .background { background: #f0f0f0; }
  /* :root .tab .highlighter::before { background: #efefef; } */
  tab-item.active .contextual-identity-marker { }

  /* hide collapse twisty arrow */
  /* collapse/expand subtree with favicon */
  tab-item tab-twisty {
    margin-right: -1em;
    opacity: 0 !important;
    position: relative;
    z-index: 10000;
  }
    tab-item:hover .background {
    background: #f0f0f0;
  }

  /* hide [x] tab close button unless hovering on tab */
  .tab:hover .closebox {
    background: #d3d3d3;
    border-radius: 3px;
  }
  .tab:not(:hover) .closebox { visibility: collapse !important; }

  .tab:hover {
    background: #ffffff;
  }

  /* remove scroll bar */
  .tab { margin-left: 1px; }
  #tabbar {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  :root.left #tabbar, #tabContextMenu, #tabContextMenu ul { margin-left: 0px; }
}