/* remove animations */
/* @keyframes * {} */
@keyframes tab-burst-animation {}
@keyframes tab-burst-animation-light {}
@keyframes blink {}

:root {
  --tab-height: 32px;
  --tab-width: 160px;
  --tab-min-width: 32px;
  --tab-max-width: 256px;
  --closebox-color: #4f4d4d00;
  --closebox-hover-color: #fb4934;
  --twisty-color: #4f4d4d00;
  --twisty-hover-color: #fe8019;
  
  --loading-color: #a8998455;
  --unread-color: #a8998455;
  --discarded-color: #22202055;
}

@media (prefers-color-scheme: dark) {
  :root {
    --label-color: #cccccc;  /* #cabaa9; */
    --background-color: #000000;
    /* --tab-active-background-color: #a89984aa; */
    --tab-active-background-color: #3f3d3daa;
    --tab-background-color: #181818;
    --tab-item-hover-background-color: #222020;
    --tab-item-substance-border-color: #000000;
    --tab-item-substance-background-color: #181818;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --label-color: #121212;
    --background-color: #ffffff;
    --tab-active-background-color: #f0f0f0;
    --tab-item-hover-background-color: #f0f0f0;
    --tab-item-substance-border-color: #00000025;
    --tab-item-substance-background-color: #ffffff;
  }
}

:root, #background { background: var(--background-color); }
:root.sidebar .label-content { color: var(--label-color) !important; }

/* tabbar styling */
/* :root.left #tabbar, #tabContextMenu, #tabContextMenu ul { margin: 0px; } */
#tabbar {
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  margin: 0px 1px 2px 2px;
}
#normal-tabs-container { scrollbar-width: none; }  /* remove scroll bar */

/* tab styling */
#tabbar .tab {
  height: var(--tab-height);
  width: var(--tab-width);  /* max */
  margin: 0px;
  padding: 0px;
  transition: 0.25s width;
}
#tabbar:not(:hover) .tab { width: var(--tab-width); }  /* min */

/* tab background styling */
#tabbar .tab .background {
  background: var(--tab-background-color);
  margin: 2px;
  padding: 5px;
  border-radius: 4px;
  transition: 0.25s background;
}
#tabbar .tab.active .background {
  /* background: var(--tab-active-background-color); */
  background: var(--tab-active-background-color);
}
#tabbar .tab.active:hover tab-item-substance {
  background: var(--tab-active-background-color);
  transition: 0.25s background;
}
#tabbar .tab.active:hover .background {
  /* background: var(--tab-active-background-color); */
}
#tabbar tab-item:hover tab-item-substance { background: var(--tab-item-hover-background-color); }

/* tab item styling */
#tabbar tab-item { }

/* tab item substance styling */
#tabbar tab-item-substance {
  background-color: var(--tab-item-substance-background-color);
  padding: 5px;
  border-radius: 6px;
  border: solid 1px var(--tab-item-substance-border-color);
  transition: all 0.25s !important;
}
#tabbar tab-item tab-item-substance:hover { }
#tabbar:not(:hover) tab-item[data-level] tab-item-substance { margin-left: 0% !important; }

/* tab label content styling */
.label-content {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: var(--tab-height);
}

/* tab favicon stylings */
#tabbar tab-item.active tab-favicon { filter: grayscale(0); }  /* full color favicons on active tab */
#tabbar tab-item:hover tab-favicon { opacity: 0; }  /* hide favicons on hover */
#tabbar tab-item tab-favicon {
  margin: 0px 6px 0px 2px;
  transition: 0.25s opacity;
}

/* styling for unread and discarded tabs */
#tabbar tab-item.unread, #tabbar tab-item.discarded { opacity: 0.75; }
#tabbar tab-item.unread:hover tab-item-substance, #tabbar tab-item.discarded:hover tab-item-substance { background: var(--discarded-color); }
#tabbar tab-item.unread, #tabbar tab-item.discarded tab-favicon { filter: grayscale(1); }
#tabbar tab-item.discarded .label-content { opacity: 0.25 !important; }

/* blank tab  and loading behavior */
#tabbar .loading tab-favicon { visibility: collapse !important; }
#tabbar .loading .label-content { visibility: collapse !important; }
#tabbar .loading tab-item-substance { background: var(--loading-color); !important }

#tabbar tab-item:not(.loading):-moz-any([data-current-uri*="blanktab"], [data-current-uri="about:home"], [data-current-uri="about:blank"], [data-current-uri="about:newtab"]) .label-content,
#tabbar tab-item:not(.loading):-moz-any([data-current-uri*="blanktab"], [data-current-uri="about:home"], [data-current-uri="about:blank"], [data-current-uri="about:newtab"]) tab-favicon,
#tabbar tab-item.loading:-moz-any([data-current-uri*="blanktab"], [data-current-uri="about:home"], [data-current-uri="about:blank"], [data-current-uri="about:newtab"]) .label-content,
#tabbar tab-item.loading:-moz-any([data-current-uri*="blanktab"], [data-current-uri="about:home"], [data-current-uri="about:blank"], [data-current-uri="about:newtab"]) tab-favicon {
  visibility: collapse !important;
}


/* [x] closebox styling for closing tabs */
#tabbar tab-item tab-closebox {
  order: -1;
  margin: 0px -19px 0px 1px;
  padding: 1px;
  border-radius: 4px;
  transition: 0.25s opacity;
}
#tabbar tab-item tab-closebox:not(:hover) {
  opacity: 0.5;
  background: var(--closebox-color);
}
#tabbar tab-item tab-closebox:hover { background: var(--closebox-hover-color); }
#tabbar .tab:hover .closebox { }
#tabbar .tab:not(:hover) .closebox { opacity: 0; }

/* [>] twisty styling for collapsed tab trees */
#tabbar tab-twisty {
  order: 10000;
  padding: 0px;
  margin: 0px;
  opacity: 0.5;
  border-radius: 4px;
  transition: all 0.25s;
}
#tabbar tab-twisty::before { margin: 1px 0px -1px 0px; }
#tabbar:hover tab-twisty {
  opacity: 0.5;
}
#tabbar tab-twisty:hover {
  background: var(--twisty-hover-color);
  opacity: 1;
}

/* tab counter styling for collapsed tab trees */
#tabbar tab-item tab-counter {
  display: none !important;
  visibility: collapse !important;
}

/* remove active tab indicator bar */
:root .tab .highlighter {
  visibility: collapse !important;
  display: none;
  opacity: 0;
}
#tabbar tab-item.active .contextual-identity-marker {
  visibility: collapse !important;
  display: none !important;
  opacity: 0;
}

/* hide new tab button */
.after-tabs { display: none !important; }
.after-tabs button { display: none !important; }
.newtab-button { display: none !important; }
.newtab-button-box { display: none !important; }
