/* remove animations */
/* @keyframes * {} */
@keyframes throbber {}
@keyframes tab-burst-animation {}
@keyframes tab-burst-animation-light {}
@keyframes blink {}

:root {
  --tab-height: 32px;
  --tab-min-width: 32px;
  --tab-max-width: 256px;
  --closebox-color: #4f4d4d00;
  --closebox-hover-color: #fb4934;
  --twisty-color: #4f4d4d00;
  --twisty-hover-color: #fe8019;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --label-color: #bbbbbb;  /* #cabaa9; */
    --tab-item-substance-border-color: #00000075;
    --tab-item-substance-background-color: #181818;
    --tab-item-hover-background-color: #222020;
    --tab-item-active-background-color: #4f4d4d;
    --unread-label-color: #555555;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --label-color: #121212;
    --tab-item-substance-border-color: #00000025;
    --tab-item-substance-background-color: #ffffff;
    --tab-item-hover-background-color: #f0f0f0;
    --tab-item-active-background-color: #f0f0f0;
    --unread-label-color: #bbbbbb;
  }
}

:root, #background { background: var(--background-color); }
:root.sidebar .label-content { color: var(--label-color) !important; }

/* tabbar styling */
/* :root.left #tabbar, #tabContextMenu, #tabContextMenu ul { margin: 0px; } */
#tabbar {
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  margin: 0px 1px 2px 2px;
}
#normal-tabs-container { scrollbar-width: none; }  /* remove scroll bar */

/* tab styling */
#tabbar .tab {
  height: var(--tab-height);
  width: var(--tab-max-width);
  margin: 0px;
  padding: 0px;
  transition: 0.25s width;
}
#tabbar:not(:hover) .tab { width: var(--tab-min-width); }

/* active tab styling */
#tabbar .tab.active .background{
  background: var(--tab-item-active-background-color); 
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}

/* tab item styling */
#tabbar tab-item {
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
}
#tabbar tab-item:hover .background {
  background: var(--tab-item-hover-background-color); 
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}

/* tab item substance styling */
#tabbar tab-item-substance {
  background-color: var(--tab-item-substance-background-color);
  padding: 5px;
  border-radius: 6px;
  border: solid 1px var(--tab-item-substance-border-color);
  transition: 0.25s margin;
}
#tabbar tab-item tab-item-substance:hover { }
#tabbar:not(:hover) tab-item[data-level] tab-item-substance { margin-left: 0% !important; }

/* tab label styling */
.label-content {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: var(--tab-height);
}
#tabbar tab-item.unread .label-content { color: var(--unread-label-color) !important; }  /* grey text for unread tabs */

/* tab favicon stylings */
#tabbar tab-item tab-favicon { margin: 0px 8px 0px 2px; }
#tabbar tab-item.active tab-favicon { filter: grayscale(0); }  /* full color favicons on active tab */
#tabbar tab-item.unread tab-favicon { filter: grayscale(1); }  /* gray favicons for unread tabs */
#tabbar tab-item:hover tab-favicon { opacity: 0; }  /* hide favicons on hover */

/* blank tab favicon and label */
#tabbar tab-item:not(.loading):-moz-any([data-current-uri*="blanktab"],
                                        [data-current-uri="about:newtab"],
                                        [data-current-uri="about:home"],
                                        [data-current-uri="about:blank"])
                                        .label-content { visibility: collapse !important; }
#tabbar tab-item:not(.loading):-moz-any([data-current-uri*="blanktab"],
                                        [data-current-uri="about:newtab"],
                                        [data-current-uri="about:home"],
                                        [data-current-uri="about:blank"])
                                        tab-favicon { visibility: collapse !important; }

/* [x] closebox styling for closing tabs */
#tabbar tab-item tab-closebox {
  order: -1;
  margin: 0px -19px 0px 1px;
  padding: 1px;
  border-radius: 4px;
}
#tabbar .tab:hover .closebox { }
#tabbar .tab:not(:hover) .closebox { display: none; }
#tabbar tab-item tab-closebox:not(:hover) {
  opacity: 0.5;
  background: var(--closebox-color);
}
#tabbar tab-item tab-closebox:hover { background: var(--closebox-hover-color); }
#tabbar tab-item tab-closebox { transition: 0.25s background; }

/* [>] twisty styling for collapsed tab trees */
#tabbar tab-twisty {
  order: 10000;
  padding: 0px;
  margin: 0px;
  opacity: 0;
  border-radius: 4px;
  transition: all 0.25s;
}
#tabbar tab-twisty::before { margin: 1px 0px -1px 0px; }
#tabbar:hover tab-twisty {
  background: var(--twisty-color);
  opacity: 0.5;
}
#tabbar tab-twisty:hover {
  background: var(--twisty-hover-color);
  opacity: 1;
}

/* tab counter styling for collapsed tab trees */
#tabbar tab-item tab-counter {
  display: none !important;
  visibility: collapse !important;
}

/* remove active tab indicator bar */
:root .tab .highlighter {
  visibility: collapse !important;
  display: none;
  opacity: 0;
}
#tabbar tab-item.active .contextual-identity-marker {
  visibility: collapse !important;
  display: none !important;
  opacity: 0;
}

/* hide new tab button */
.after-tabs { display: none !important; }
.after-tabs button { display: none !important; }
.newtab-button { display: none !important; }
.newtab-button-box { display: none !important; }
