@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --label-color: #cabaa9;
    --tab-item-substance-border-color: #00000075;
    --tab-item-substance-background-color: #181818;
    --tab-item-hover-background-color: #222020;
    --tab-item-active-background-color: #4f4d4d;
    --closebox-color: #4f4d4d00;
    --unread-label-color: #555555;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --label-color: #121212;
    --tab-item-substance-border-color: #00000025;
    --tab-item-substance-background-color: #ffffff;
    --tab-item-hover-background-color: #f0f0f0;
    --tab-item-active-background-color: #f0f0f0;
    --closebox-color: #d3d3d300;
    --unread-label-color: #bbbbbb;
  }
}

:root, #background { background: var(--background-color); }
:root.sidebar .label-content { color: var(--label-color) !important; }

/* remove scroll bar */
:root.left #tabbar, #tabContextMenu, #tabContextMenu ul { margin-left: -100px; }
#tabbar .tab { margin-left: 101px; }
#tabbar {
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  top: 0px !important;
  bottom: 0px !important;
}

/* hide new tab button */
#tabbar .after-tabs { display: none !important; }
#tabbar .after-tabs button { display: none !important; }
#tabbar .newtab-button-box { display: none !important; }

/* autohide animations */
#tabbar .tab {
  transition: 0.2s width;
  width: 255px;
  /* width: 125px; */
}
#tabbar:not(:hover) .tab {
  transition-delay: 0.05s;
  width: 31px;
}
#tabbar:not(:hover) tab-item[data-level] tab-item-substance { margin-left: 0% !important; }

/* tab sizing and styling */
#tabbar .tab {
  top: 0px;
  padding: 0px;
  height: 32px;
  border: #00000000;  /* transparent */
  background: #00000000;  /* transparent */
}
#tabbar .tab.active .background{
  background: var(--tab-item-active-background-color); 
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}
#tabbar .tab:hover { background: #00000000;  /* transparent */ }

/* tab item sizing and styling */
#tabbar tab-item {
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
}
#tabbar tab-item:hover .background {
  background: var(--tab-item-hover-background-color); 
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}
tab-item-substance {
  background-color: var(--tab-item-substance-background-color);
  border: solid 1px var(--tab-item-substance-border-color);
  margin: 0px;
  padding: 5px;
  border-radius: 6px;
}
tab-item tab-item-substance:hover {  }

/* tab label styling */
:root.sidebar .label-content {
  font-size: 12px;
  line-height: 13px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

/* tab favicon stylings */
#tabbar tab-item tab-favicon {
  margin: 0px 8px 0px 1px;
  padding: 0px;
}
#tabbar tab-item.active tab-favicon { filter: grayscale(0); }
#tabbar tab-item:hover tab-favicon { /* filter: grayscale(0); */ }
:root.sidebar tab-item.unread .label-content { color: #var(--unread-label-color) !important; }
:root.sidebar tab-item.unread tab-favicon { filter: grayscale(1); }

/* blank favicon and label for new tabs */
#tabbar tab-item:not(.loading):-moz-any([data-current-uri="about:newtab"], [data-current-uri="about:home"], [data-current-uri="about:blank"]) .label-content,
#tabbar tab-item:not(.loading):-moz-any([data-current-uri="about:newtab"], [data-current-uri="about:home"], [data-current-uri="about:blank"]) tab-favicon {
  visibility: collapse !important;
}

/* hide twisty arrow for collapsing subtrees */
#tabbar tab-item tab-twisty {
  visibility: collapse !important;
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/* style and hide [x] tab close button until hover */
#tabbar .tab:hover .closebox {
  background: var(--closebox-color);
  border-radius: 4px;
  margin: 0px -15px 0px 5px;
  padding: 0px;
}
#tabbar .tab:not(:hover) .closebox {
  border-radius: 4px;
  margin: 0px -15px 0px 5px;
  padding: 0px;
  display: none;
}

/* remove active tab indicator bar */
:root .tab .highlighter::before {
  display: none;
  border-radius: 6px;
  /* background: #2f2d2d; */
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  /* margin-left: 25px; */
  /* padding: 0px; */
}
#tabbar tab-item.active .contextual-identity-marker {
  visibility: collapse !important;
  display: none !important;
}
