/* remove animations */
/* @keyframes * {} */
@keyframes tab-burst-animation {}
@keyframes tab-burst-animation-light {}
@keyframes blink {}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bgdark: 20, 22, 23;  /* --bgdark: #141617; */
    --bgdim: 29, 32, 33;  /* --bgdim: #1d2021; */
    --bg0: 27, 27, 27;  /* --bg0: #1b1b1b; */
    --bg1: 40, 40, 40;  /* --bg1: #282828; */
    --bg2: 50, 48, 47;  /* --bg2: #32302f; */
    --bg3: 60, 56, 54;  /* --bg3: #3c3836; */
    --bg4: 69, 64, 61;  /* --bg4: #45403d; */
    --bg5: 80, 73, 69;  /* --bg5: #504945; */

    --glow0: 90, 92, 86;  /* --glow0: #5a524c; */
    --glow1: 102, 92, 84;  /* --glow1: #665c54; */

    --gray0: 124, 111, 100;  /* --gray0: #7c6f64; */
    --gray1: 146, 131, 116;  /* --gray1: #928374; */
    --gray2: 168, 153, 132;  /* --gray2: #a89984; */

    --default-gray: 79, 77, 77;  /* --default-gray: #4f4d4d; */

    --fg0: 212, 190, 152;  /* --fg0: #d4be98; */
    --fg1: 221, 199, 161;  /* --fg1: #ddc7a1; */
    --fg2: 226, 204, 169;  /* --fg2: #e2cca9; */
    --fg3: 235, 219, 178;  /* --fg3: #ebdbb2; */
    --fg4: 244, 228, 187;  /* --fg3: #ebdbb2; */
    --fgnorm: 235, 219, 196;  /* --fg3: #ebdbb2; */
  }
}

/* light mode */
@media (prefers-color-scheme: light) {
  :root {
    /* [> TODO: update these colors for light mode <] */
    --bgdark: 20, 22, 23;  /* --bgdark: #141617; */
    --bgdim: 29, 32, 33;  /* --bgdim: #1d2021; */
    --bg0: 27, 27, 27;  /* --bg0: #1b1b1b; */
    --bg1: 40, 40, 40;  /* --bg1: #282828; */
    --bg2: 50, 48, 47;  /* --bg2: #32302f; */
    --bg3: 60, 56, 54;  /* --bg3: #3c3836; */
    --bg4: 69, 64, 61;  /* --bg4: #45403d; */
    --bg5: 80, 73, 69;  /* --bg5: #504945; */

    --glow0: 90, 92, 86;  /* --glow0: #5a524c; */
    --glow1: 102, 92, 84;  /* --glow1: #665c54; */

    --gray0: 124, 111, 100;  /* --gray0: #7c6f64; */
    --gray1: 146, 131, 116;  /* --gray1: #928374; */
    --gray2: 168, 153, 132;  /* --gray2: #a89984; */

    --default-gray: 79, 77, 77;  /* --default-gray: #4f4d4d; */

    --fg0: 212, 190, 152;  /* --fg0: #d4be98; */
    --fg1: 221, 199, 161;  /* --fg1: #ddc7a1; */
    --fg2: 226, 204, 169;  /* --fg2: #e2cca9; */
    --fg3: 235, 219, 178;  /* --fg3: #ebdbb2; */
    --fg4: 244, 228, 187;  /* --fg3: #ebdbb2; */
    --fgnorm: 235, 219, 196;  /* --fg3: #ebdbb2; */
  }
}

/* properties */
:root {
  --font-size: 9pt;
  --tab-height: 32px;
  --tab-width: 32px;

  --tab-radius: 9px;
  --button-radius: 5px;
}

/* colors */
:root {
  --black: 60, 56, 54;  /* --black: #3c3836; */
  --white: 208, 191, 152;  /* --white: #d4be98; */

  --red: 234, 105, 98;  /* --red: #ea6962; */
  --orange: 231, 138, 78;  /* --orange: #e78a4e; */
  --yellow: 216, 166, 87;  /* --yellow: #d8a657; */
  --green: 169, 182, 101;  /* --green: #a9b665; */
  --cyan: 137, 180, 130;  /* --cyan: #89b482; */
  --blue: 125, 174, 163;  /* --blue: #7daea3; */
  --fuchsia: 211, 134, 155;  /* --fuchsia: #d3869b; */

  /* sidebar colors */
  --tabbar-bg: rgba(var(--bg0), 1.0);

  /* tab colors */
  --tab-text: rgba(var(--fgnorm), 1.0);
  --unread-text: rgba(var(--gray1), 1.0);
  --discarded-text: rgba(var(--gray1), 1.0);

  --tab-bg: rgba(var(--bg1), 1.0);
  --active-bg: rgba(var(--bg2), 1.0);
  --inactive-bg: rgba(var(--bg1), 1.0);

  --tab-hover-bg: rgba(var(--bg3), 1.0);
  --active-hover-bg: rgba(var(--bg3), 1.0);

  --tab-color: rgba(var(--bgdark), 1.0);
  --active-color: rgba(var(--fg0), 1.0);
  --inactive-color: rgba(var(--glow1), 1.0);

  --loading-color: rgba(var(--red), 1.0);
  --inactive-loading-color: rgba(var(--red), 0.5);

  /* tab-item colors */
  --item-hover-bg: rgba(var(--bg3), 1.0);

  /* tab element colors */
  --closebox-color: rgba(var(--red), 1.0);
  --muted-color: rgba(var(--orange), 1.0);
  --sound-color: rgba(var(--yellow), 1.0);
  --twisty-color: rgba(var(--blue), 1.0);
}

/* hide new tab button */
.after-tabs { display: none !important; }
.after-tabs button { display: none !important; }
.newtab-button { display: none !important; }
.newtab-button-box { display: none !important; }

:root, #background { background: var(--tabbar-bg) !important; }
:root.sidebar .label-content { color: var(--tab-text) !important; }
#tabbar .unread .label-content { color: var(--unread-text) !important; }
#tabbar .discarded .label-content { color: var(--discarded-text) !important; }
#tabbar .loading .label-content { visibility: collapse !important; }
#tabbar tab-item.loading:-moz-any(
  [data-current-uri*="blanktab"],
  [data-current-uri="about:home"],
  [data-current-uri="about:blank"],
  [data-current-uri="about:newtab"]
) .label-content { visibility: collapse !important; }
#tabbar tab-item:-moz-any(
  [data-current-uri*="blanktab"],
  [data-current-uri="about:home"],
  [data-current-uri="about:blank"],
  [data-current-uri="about:newtab"]
) .label-content { visibility: collapse !important; }

/* tabbar styling */
/* :root.left #tabbar, #tabContextMenu, #tabContextMenu ul { margin: 0px; } */
#tabbar {
  overflow-x: hidden;
  overflow-y: hidden;

  top: 0px !important;
  left: 7px !important;
  right: 0px !important;
  bottom: 7px !important;

  margin: 0px !important;
  padding: 0px !important;

  transition: width 0s !important;
}
#normal-tabs-container { scrollbar-width: none !important; }  /* remove scroll bar */

#tabbar .tab {
  height: var(--tab-height);

  margin: 0px !important;
  padding: 0px !important;

  transition: width 0s !important;
}

#tabbar .tab .background {
  margin: 0px !important;
  padding: 0px !important;

  background: var(--tab-bg);

  box-sizing: border-box !important;
  border: 2px var(--tab-color) solid !important;
  border-radius: var(--tab-radius) !important;

  transition: all 0.25s !important;
}
#tabbar .tab:hover .background {
  border: 2px var(--tab-hover-bg) solid !important;
  transition: 0.25s border !important;
}
#tabbar .tab.active .background {
  background-color: var(--active-bg);

  border: 2px var(--active-color) solid !important;

  transition: 0.25s border !important;
  transition: 0.25s background;
}
#tabbar:-moz-window-inactive .tab.active .background {
  background-color: var(--inactive-bg);

  border: 2px var(--inactive-color) solid !important;

  transition: 0.25s border !important;
  transition: 0.25s background;
}
#tabbar .tab.active:hover .background { }
#tabbar .tab.loading .background {
  border: 2px var(--loading-color) solid !important;
  transition: border 0.25s !important;
}

#tabbar tab-item:hover tab-item-substance { background: var(--item-hover-bg); }
#tabbar tab-item { margin: 10px !important; }

/* #tabbar:not(:hover) tab-item[data-level] tab-item-substance { margin-left: 0% !important; } */
#tabbar tab-item-substance {
  background-color: var(--tab-color);

  padding: 0px 11px 0px 7px !important;

  box-sizing: border-box;
  border: 0px solid var(--tab-color);
  border-radius: var(--tab-radius) !important;

  transition: 0.25s all !important;
}

/* tab label content styling */
.label-content {
  position: static !important;

  margin: 0px 0px 0px 7px !important;
  padding: 0px !important;

  line-height: var(--tab-height);
  font-size: var(--font-size);
}

/* tab favicon stylings */
/* #tabbar tab-item.active tab-favicon { filter: grayscale(0); }  [> full color favicons on active tab <] */
#tabbar tab-item tab-favicon { opacity: 1.0; }  /* full color favicons on active tab */
#tabbar tab-item.active tab-favicon { opacity: 1.0 !important; }  /* full color favicons on active tab */
#tabbar .loading tab-favicon { visibility: collapse !important; }
#tabbar .unread tab-favicon, #tabbar .discarded tab-favicon { opacity: 0.5; }  /* shade on unread or discarded */
#tabbar tab-item:hover tab-favicon { opacity: 0.0; }  /* hide favicons on hover */
#tabbar tab-item:-moz-any(
  [data-current-uri*="blanktab"],
  [data-current-uri="about:home"],
  [data-current-uri="about:blank"],
  [data-current-uri="about:newtab"]
) tab-favicon { visibility: collapse !important; }
#tabbar tab-item.loading:-moz-any(
  [data-current-uri*="blanktab"],
  [data-current-uri="about:home"],
  [data-current-uri="about:blank"],
  [data-current-uri="about:newtab"]
) tab-favicon { visibility: collapse !important; }
#tabbar tab-item tab-favicon {
  position: static !important;
  float: left !important;

  margin: 0px 0px 0px 2px !important;

  transition: 0.25s opacity !important;
}

#tabbar .tab:not(:hover) tab-closebox {
  opacity: 0.0 !important;
}
#tabbar .tab:hover tab-closebox {
  opacity: 1.0 !important;
}
#tabbar .tab:hover tab-closebox:not(:hover) {
  background: var(--tab-bg);
}
#tabbar .tab:hover tab-closebox:hover {
  background: var(--closebox-color);
}
#tabbar .tab.active:hover tab-closebox:not(:hover) {
  background: var(--active-bg);
}
#tabbar .tab tab-closebox {
  order: -1;
  position: absolute !important;
  left: 7px;

  margin: 0px !important;
  padding: 0px !important;

  min-width: 16px !important;
  max-width: 16px !important;
  width: 16px !important;
  height: 16px !important;

  box-sizing: content-box;
  border-radius: var(--button-radius) !important;
  border: 2px solid var(--closebox-color) !important;

  background: var(--tab-bg);

  transition: 0.25s opacity, 0.25s background !important;
}

#tabbar .tab.muted .background { border: 2px solid var(--muted-color) !important; }
#tabbar .tab.sound-playing .background { border: 2px solid var(--sound-color) !important; }

/* #tabbar .tab.muted .label-content, #tabbar .tab.sound-playing .label-content { margin-left: 20px; } */
#tabbar:hover .tab.muted .label-content, #tabbar .tab.sound-playing .label-content {
  margin-left: 28px !important;
  transition: 0.25s margin-left !important;
}
#tabbar:not(:hover) .tab.muted .label-content, #tabbar:not(:hover) .tab.sound-playing .label-content {
  margin-left: 7px !important;
  transition: 0.25s margin-left !important;
}

#tabbar:not(:hover) .sound-button {
  opacity: 0.0 !important;
  transition: 0.25s opacity !important;
}

#tabbar .tab .sound-button {
  position: absolute !important;
  /*float: right !important;*/
  /*right: 32px !important;*/

  left: 32px !important;

  margin: 0px !important;
  padding: 0px !important;

  min-width: 16px !important;
  max-width: 16px !important;
  width: 16px !important;
  height: 16px !important;

  box-sizing: content-box !important;

  transition: 0.25s all !important;
}
#tabbar .tab:not(:hover) .sound-button {
  /*opacity: 0.0 !important;*/
  /* transition: 0.25s all !important; */
}

#tabbar .tab:not(:hover) tab-twisty { opacity: 0 !important; }
#tabbar .tab:hover tab-twisty { opacity: 1 !important; }
#tabbar .tab:hover tab-twisty:not(:hover) { background: var(--tab-bg); }
#tabbar .tab:hover tab-twisty:hover { background: var(--twisty-color); }
#tabbar .tab.active:hover tab-twisty:not(:hover) { background: var(--active-bg); }
/* #tabbar tab-twisty:not(:hover)::before { opacity: 0.75; } */
#tabbar tab-twisty:hover::before { opacity: 1.0; }
#tabbar tab-twisty::before {
  margin: 0px !important;
  padding: 0px !important;
  transition: 0.25s all !important;
}
#tabbar tab-twisty {
  order: 1000000 !important;
  position: absolute !important;
  float: right !important;
  right: 7px;

  margin: 0px !important;
  padding: 0px !important;

  min-width: 16px !important;
  max-width: 16px !important;
  width: 16px !important;
  height: 16px !important;

  background: var(--tab-bg);

  box-sizing: content-box;
  border-radius: var(--button-radius) !important;
  border: 2px solid var(--twisty-color);

  transition: all 0.25s !important;
}

/* tab counter styling for collapsed tab trees */
#tabbar tab-item tab-counter {
  visibility: collapse !important;
  display: none !important;
}

/* remove active tab indicator (vertical bar) */
:root .tab .highlighter {
  opacity: 0.0 !important;
  visibility: collapse !important;
  display: none;
}
#tabbar tab-item.active .contextual-identity-marker {
  opacity: 0.0 !important;
  visibility: collapse !important;
  display: none !important;
}
