/*

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome

*/
/* chrome://browser/content/browser.xhtml */

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {/* Please write your custom CSS under this line*/
  /* remove treestyletabs header */
  :root{
    --min-tab-width: 46px;
    --max-tab-width: 180px;
    
    --bgdark: #141617;
    --bgdim: #1d2021;
    --bg0: #1b1b1b;
    --bg1: #282828;
    --bg2: #32302f;
    --bg3: #3c3836;
    --bg4: #45403d;
    --bg5: #504945;

    --glow0: #5a524c;
    --glow1: #665c54;

    --gray0: #7c6f64;
    --gray1: #928374;
    --gray2: #a89984;

    --fg0: #d4be98;
    --fg1: #ddc7a1;
    --fg2: #e2cca9;
    --fg3: #ebdbb2;

    --toolbar-field-background-color: var(--bg2) !important;
    --toolbar-field-focus-background-color: var(--bg3) !important;
    /* --toolbar-field-focus-background-color: var(--bg3) !important; */
    /* --toolbar-field-focus-background-color */
    /* --toolbar-field-focus-border-color: transparent !important; */
    --toolbar-field-focus-border-color: var(--glow0) !important;

    /* --urlbarView-secondary-text-color */

    /* --mac-selected-bgcolor: #1d2021 !important; */
    /* --mac-selected-bgcolor: #191c1d !important; */
    --mac-bgcolor: var(--bg0) !important;
    --mac-selected-bgcolor: var(--bg0) !important;
  }

  #browser { background-color: var(--mac-selected-bgcolor); }
  #browser #appcontent {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }
  browser, menubar, toolbar, nav-bar, #navigator-toolbox, #TabsToolbar > * { background-color: var(--mac-selected-bgcolor) !important; }
  #navigator-toolbox { padding: 4px 0px 2px 0px; }
  #page-action-buttons, #pageActionButton, #pageActionSeparator,
  #star-button-box, #pocket-button-box, #identity-icon-labels,
  .autocomplete-history-dropmarker, ar-button {
    visibility: collapse !important;
    display: none !important;
  }
  #navigator-toolbox {
    border: 0px solid transparent !important;
  }

  /* #urlbar .urlbar-input { color: var(--fg3) !important; } */
  #urlbar .urlbar-input { color: var(--fg3) !important; }
  /* #urlbar .urlbar-input-box { text-align: center; } */
  #urlbar .urlbar-input-box { padding-right: 10px; }
  #urlbar:not([focused]) .urlbar-input-box {
    color: var(--fg0) !important;
    /*text-align: center;*/
  }
  /*browser { border: 1px solid; border-radius: 10px; }*/
  /*.urlbar-input-container > box { display: none !important; }*/

  stack.browserStack {
    margin-left: -5px;
    margin-top: 1px;
    border: 0px solid transparent;
    /* border-radius: 8px; */
  }

  .tab-icon-image:not([src]){ content: url("about:blank"); }

  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter { display: none !important; }
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse !important;
    display: none !important;
  }
  #sidebar-header {
    visibility: collapse !important;
    display: none !important;
  }
  
/*#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--max-tab-width) !important;
	max-width: none !important;
}*/
  #sidebar-box:-moz-window-inactive {
    min-width: var(--min-tab-width) !important;
    max-width: var(--min-tab-width) !important;
  }
  #sidebar {
    background-color: var(--mac-selected-bg-color) !important;
  }
  #sidebar-box {
    background: var(--mac-selected-bgcolor) !important;
    padding-right: 8px;
  }
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover) {
	
	/* transition: all 300ms !important; */
  min-width: var(--min-tab-width) !important;
	max-width: var(--min-tab-width) !important;
  transition: all 0.25s !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
 	/* transition: all 300ms !important; */

	/* Negative right-margin to keep page from being pushed to the side. */
	/* margin-right: calc((var(--max-tab-width) - var(--min-tab-width)) * -1) !important; */
}


  /* BEGIN make window draggable from URL bar */
  .urlbar-input-box, .urlbar-input, #urlbar-scheme, #urlbar-container {
    -moz-window-dragging: drag;
    cursor: default;
  }

  .urlbar-input-container > box,
  #page-action-buttons,
  #urlbar-container:focus-within,
  #urlbar-container:focus-within:is(.urlbar-input-box,
                                    .urlbar-input,
                                    #urlbar-scheme,
                                    #urlbar-container) {
    -moz-window-dragging: no-drag;
    cursor: auto;
  }
  /* END make window draggable from URL bar */
}
