/* remove bottom status text (popup url) */
#statuspanel { display: none !important; }

/* remove top tab bar */
#TabsToolbar { visibility: collapse !important; }

/* remove treestyletabs header */
#sidebar-header {
    visibility: collapse !important;
    display: none;
}

/* setup size of side tab bar */
:root {
  --sidebar-min-width: 35px;  /* 35px */
  --sidebar-max-width: 259px;  /* 259px */
  --sidebar-width: 128px;  /* 128px */
}
#sidebar {
  /* min-width: var(--sidebar-min-width) !important; */
  /* max-width: var(--sidebar-max-width) !important; */
  width: var(--sidebar-width) !important;
  min-width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
}

#sidebar-box {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  /* position: relative !important; */
  width: var(--sidebar-width) !important;
  min-width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
}

/* #sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) { */
  /* [> min-width: var(--sidebar-max-width) !important; <] */
  /* [> max-width: var(--sidebar-max-width) !important; <] */
  /* min-width: var(--sidebar-width) !important; */
  /* max-width: var(--sidebar-width) !important; */
/* } */

/* [> contract sidebar on hover <] */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] { */
  /* transition: all 0.25s !important; */
  /* min-width: var(--sidebar-min-width) !important; */
  /* max-width: var(--sidebar-min-width) !important; */
  /* z-index: 2; */
/* } */
/* [> expand sidebar on hover <] */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover, */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar { */
  /* transition: all 0.25s !important; */
  /* min-width: var(--sidebar-max-width) !important; */
  /* max-width: var(--sidebar-max-width) !important; */
  /* z-index: 1; */
/* } */

/* [> prevent window content from moving on sidebar resize <] */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover { */
  /* margin-right: calc((var(--sidebar-max-width) - var(--sidebar-min-width)) * -1) !important; */
/* } */
